# Ignore temporary files
**.swp
**.bck
**.old
**.tmp
**.out
.DS_Store

# Ignore Python files
__pycache__

# Ignore large files
*.zip
*.tar.gz

# Ignore credentials
.ssh
ssh
**credentials

# Ignore log files
**.log