{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Resource List {% endblock %}</h1>

    <div class="row">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category,message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
    <div class="row">
        <div class="col-4">
            <div class="accordion" id="accordionFilter">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      Filter<i class="bi bi-funnel-fill"></i>
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFilter">
                    <div class="accordion-body">
                        <form method="post" action="/">
                            <div class="mb-3">
                              <label for="DisplayNameFilter" class="form-label">Display Name</label>
                              <input type="text" class="form-control" id="DisplayNameFilter" name="DisplayNameFilter" value="{{ DisplayNameFilter }}">
                            </div>
                            <div class="mb-3">
                              <label for="ResouceTypeFilter" class="form-label">Resource Type</label>
                              <input type="text" class="form-control" id="ResouceTypeFilter" name="ResouceTypeFilter" value="{{ ResouceTypeFilter }}">
                            </div>
                            <div class="mb-3">
                                <label for="CompartmentFilter" class="form-label">Compartment</label>
                                <input type="text" class="form-control" id="CompartmentFilter" name="CompartmentFilter" value="{{ CompartmentFilter }}">
                            </div>
                            <div class="mb-3">
                                <label for="StatusFilter" class="form-label">Status</label>
                                <input type="text" class="form-control" id="StatusFilter" name="StatusFilter" value="{{ StatusFilter }}">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </form>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-4">
        </div>
        <div class="col-4">
            <a href="/" class="btn btn-secondary float-end me-1" role="button">Refresh</a>
            <div>
                <a href="#" class="btn btn-secondary float-end me-1 dropdown-toggle" role="button" id="dropdownMenuImport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Import</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuImport">
                    <a class="dropdown-item" href="/importCSV">CSV</a>
                    <a class="dropdown-item" href="/importJSON">JSON</a>
                </div>
            </div>
            <div>
                <a href="#" class="btn btn-secondary float-end me-1 dropdown-toggle" role="button" id="dropdownMenuExport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuExport">
                    <a class="dropdown-item" href="/exportCSV">CSV</a>
                    <a class="dropdown-item" href="/exportJSON">JSON</a>
                </div>
            </div>
            <a href="/setResource" class="btn btn-primary float-end me-1" role="button">Add Schedule</a>
        </div>
    </div>
    <br>
    <div class="row">
        <table class="table table-responsive table-hover table-bordered text-center" id="table">
            <thead>
                <tr>
                    <th class="align-middle" scope="col">Display Name</th>
                    <th class="align-middle" scope="col">Resource Type</th>
                    <th class="align-middle" scope="col">Compartment</th>
                    <th class="align-middle" scope="col">Schedule</th>
                    <th class="align-middle" scope="col">Status</th>
                    <th class="align-middle" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for resource in resources %}
                <tr>
                    <th class="align-middle text-left" ><span class="d-inline-block text-truncate" style="min-width: 200px;">{{ resource['display_name'] }}   {% set ocid = resource['identifier'] %} <button type="submit" class="btn p-0" onclick="copyContent('{{ ocid }}')"><i class="bi bi-clipboard"></i></button></span></th>
                    <td class="align-middle" >{{ resource['resource_type'] }}</td>
                    <td class="align-middle" ><span class="d-inline-block text-truncate" style="max-width: 150px;">{{ resource['compartment_id'] }}</span> {% set comp_ocid = resource['compartment_id'] %} <button type="submit" class="btn p-0" onclick="copyContent('{{ comp_ocid }}')"><i class="bi bi-clipboard"></i></button></td>
                    <td class="align-middle" ><span class="d-inline-block text-truncate" style="min-width: 700px;">
                            {% for key in resource['defined_tags'][PredefinedTag].keys() %}
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text justify-content-center" style="width:100px; color:black" id="">{{ key }}</span>
                                    </div>
                                    {% for value in resource['defined_tags'][PredefinedTag][key] %}
                                        {% if value != ',' %}
                                            {% if value=='*' %}
                                                {% set background='bg-warning' %}
                                            {% elif value=='0' %}
                                                {% set background='bg-light' %}
                                            {% else %}
                                                {% set background='bf-info' %}
                                            {% endif %}
                                            <label class="form-control {{ background }} p-1" style="color:black" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">{{ value }}</label>
                                        {% endif %}
                                    {% endfor %}
                                </div>  
                            {% endfor %}
                            </span>
                    </td>
                    <td class="align-middle" >{{ resource['lifecycle_state']|upper }}</td>
                    <td class="align-middle" style="min-width: 100px;">
                        <form method="post">
                            <input type="hidden" name="OCID" value="{{ resource['identifier'] }}">
                            <input type="hidden" name="ResourceType" value="{{ resource['resource_type'] }}">
                            <input type="hidden" name="ScheduleTags" value="{{ resource['defined_tags'][PredefinedTag] }}">
                            <input type="hidden" name="Action" value="Update">

                            <button type="submit" class="btn p-0" formaction="startResource"><i class="bi bi-play-fill"></i></i></button>
                            <button type="submit" class="btn p-0" formaction="stopResource"><i class="bi bi-stop-fill"></i></i></button>
                            <button type="submit" class="btn p-0" formaction="setResource"><i class="bi bi-pencil-square"></i></button>
                        </form>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <form action="/" method="POST">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item {{ 'disabled' if previous_page_token is none }}"><button class="page-link" id="page" name="page" value="{{ previous_page_token }}">Previous</button></li>
                    <li class="page-item {{ 'disabled' if next_page_token is none }}"><button class="page-link" id="page" name="page" value="{{ next_page_token }}">Next</button></li>
                    <li>
                        <select class="form-control" id="per_page" name="per_page" onchange="this.form.submit()">
                            <option value="10" {{ 'selected' if per_page == '10' }} >Show 10</option>
                            <option value="20" {{ 'selected' if per_page == '20' }}>Show 20</option>
                            <option value="50" {{ 'selected' if per_page == '50' }}>Show 50</option>
                            <option value="100" {{ 'selected' if per_page == '100' }}>Show 100</option>
                            <option value="All" {{ 'selected' if per_page == 'All' }}>Show All</option>
                        </select>
                    </li>
                </ul>
            </nav>
    
        </form>
    </div>
    
    <!-- Copy to clipboard script-->
    <script>
        const copyContent = async (ocid) => {
            try {
                await navigator.clipboard.writeText(ocid);
            } catch (err) {
                console.error('Failed to copy: ', err);
            }
        }
    </script>

{% endblock %}